<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="co.yishun.onemoment.app">

    <uses-feature
            android:name="android.hardware.camera"
            android:required="true"/>
    <uses-feature
            android:name="android.hardware.camera.front"
            android:required="false"/>

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>

    <application
            android:name=".MyApplication_"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/Base.AppTheme.NoActionBar"
            >
        <activity
                android:name=".ui.SplashActivity_"
                android:theme="@style/Base.AppTheme.NoActionBar"
                android:screenOrientation="portrait"
                android:configChanges="orientation|keyboardHidden"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.guide.GuideActivity_"
                android:screenOrientation="portrait"
                android:configChanges="orientation|keyboardHidden"
                android:label="@string/guideTitle">
        </activity>
        <activity
                android:name=".ui.RecordingActivity_"
                android:configChanges="orientation|keyboardHidden"
                android:theme="@style/Base.AppTheme.NoActionBar"
                android:screenOrientation="portrait"
                >
            >
        </activity>
        <!-- <activity -->
        <!-- android:name=".ui.OpenCVRecordActivity_" -->
        <!-- android:enabled="false" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:configChanges="orientation|keyboardHidden" -->
        <!-- > -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN"/> -->
        <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->

        <activity
                android:name=".ui.account.LoginActivity_"
                android:label="@string/loginByPhoneTitle"
                android:theme="@style/Base.AppTheme.NoActionBar"
                android:windowSoftInputMode="adjustResize"
                android:screenOrientation="portrait"
                android:configChanges="orientation|keyboardHidden"
                />


        <activity
                android:name=".ui.AlbumActivity_"
                android:label="@string/albumTitle"
                android:theme="@style/Base.AppTheme.NoActionBar"
                android:screenOrientation="portrait"
                android:configChanges="orientation|keyboardHidden"
                >
        </activity>
        <activity
                android:name=".ui.AboutActivity_"
                android:label="@string/aboutTitle"
                android:theme="@style/Base.AppTheme.NoActionBar"
                android:screenOrientation="portrait"
                android:configChanges="orientation|keyboardHidden">
        </activity>
        <activity
                android:name=".ui.FindPasswordActivity_"
                android:label="@string/findPasswordTitle"
                android:theme="@style/Base.AppTheme.NoActionBar"
                android:windowSoftInputMode="adjustResize"
                android:screenOrientation="portrait"
                android:configChanges="orientation|keyboardHidden"
                >
        </activity>
        <activity
                android:name=".ui.ResetPasswordActivity_"
                android:label="@string/resetPasswordTitle"
                android:theme="@style/Base.AppTheme.NoActionBar"
                android:windowSoftInputMode="adjustResize"
                android:screenOrientation="portrait"
                android:configChanges="orientation|keyboardHidden"
                >
        </activity>
        <activity
                android:name=".ui.IdentityInfoActivity_"
                android:label="@string/identityInfoTitle"
                android:theme="@style/Base.AppTheme.NoActionBar"
                android:screenOrientation="portrait"
                android:configChanges="orientation|keyboardHidden"
                >
        </activity>
        <activity
                android:name=".ui.VideoSaveActivity_"
                android:label="@string/videoSaveTitle"
                android:theme="@style/Base.AppTheme.NoActionBar"
                android:screenOrientation="portrait"
                android:configChanges="orientation|keyboardHidden">
        </activity>
        <activity
                android:name=".ui.account.SignUpActivity_"
                android:label="@string/signUpTitle"
                android:theme="@style/Base.AppTheme.NoActionBar"
                android:windowSoftInputMode="adjustResize"
                android:screenOrientation="portrait"
                android:configChanges="orientation|keyboardHidden"
                >
        </activity>
        <activity
                android:name=".ui.account.IntegrateInfoActivity_"
                android:label="@string/integrateInfoTitle"
                android:theme="@style/Base.AppTheme.NoActionBar"
                android:screenOrientation="portrait"
                android:configChanges="orientation|keyboardHidden"/>
        <activity
                android:name=".ui.account.SetPasswordActivity_"
                android:label="@string/setPasswordTitle"
                android:theme="@style/Base.AppTheme.NoActionBar"
                android:windowSoftInputMode="adjustResize"
                android:screenOrientation="portrait"
                android:configChanges="orientation|keyboardHidden"
                />
        <activity
                android:name=".ui.SyncSettingsActivity_"
                android:label="@string/syncSettingsTitle"
                android:theme="@style/Base.AppTheme.NoActionBar"
                android:screenOrientation="portrait"
                android:configChanges="orientation|keyboardHidden"/>
        <activity
                android:name=".ui.PlayActivity_"
                android:label="@string/playTitle"
                android:theme="@style/Base.AppTheme.NoActionBar"
                android:screenOrientation="portrait"
                android:configChanges="orientation|keyboardHidden"
                />
        <activity
                android:name=".ui.MultiPlayActivity_"
                android:label="@string/multiPlayTitle"
                android:theme="@style/Base.AppTheme.NoActionBar"
                android:screenOrientation="portrait"
                android:configChanges="orientation|keyboardHidden"
                />

        <service
                android:name=".sync.AuthenticatorService"
                android:enabled="true"
                android:exported="false">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data
                    android:name="android.accounts.AccountAuthenticator"
                    android:resource="@xml/authenticator"/>
        </service>

        <service
                android:name=".sync.SyncService"
                android:exported="true"
                android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data
                    android:name="android.content.SyncAdapter"
                    android:resource="@xml/syncadapter"/>
        </service>

        <provider
                android:name=".data.MomentProvider"
                android:authorities="co.yishun.onemoment.app"
                android:exported="false"
                android:syncable="true"/>

        <activity
                android:name="com.soundcloud.android.crop.CropImageActivity"
                android:screenOrientation="portrait"
                android:configChanges="orientation|keyboardHidden"/>

        <activity
                android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
                android:windowSoftInputMode="adjustResize"
                android:exported="false"
                android:screenOrientation="portrait"
                android:configChanges="orientation|keyboardHidden">
        </activity>

        <!-- for Tencent login auth -->
        <activity
                android:name="com.tencent.tauth.AuthActivity"
                android:noHistory="true"
                android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="1104574591"/>
            </intent-filter>
        </activity>

        <meta-data
                android:name="UMENG_APPKEY"
                android:value="549e2c80fd98c5e4cf000f64"
                />
    </application>

</manifest>
